{% extends "base.html" %}
{% load static %}

{% block title %}FindIt{% endblock title %}
 {% block style %}
    <style>
        .blurred {
            filter: blur(20px);
        }
</style>
 {% endblock style %}
{% block body_class %}component-page{% endblock %}
{% block content %}
{% include "base/findit/partials/_nav.html" %}


<section class="component-block">

    <div class="container">
        <div class="col-md-6 col-xl-12">
            <div class="card social-widget-card bg-dark">
                <div class="card-body">
                    <h3 class="text-white m-0">{{item.title}}</h3>
                    <span class="m-t-10">{{item.location}}</span>
                    <i class="fas fa-box-open"></i>
                </div>
            </div>
        </div>
        <div class="row">

                {% if messages %}
                <div class="mt-3">
                    {% for message in messages %}
                    <div 
                        class="alert 
                        {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} 
                        alert-dismissible fade show" 
                        role="alert"
                    >
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">


                            <div class="col-md-6">
                                <div class="sticky-md-top product-sticky">
                                    <div class="card bg-light rounded shadow-sm">
                                        <div class="card-body position-relative p-0">


                                            <!-- Product Image -->
                                            <img src="{{item.get_image_url}}"
                                                class="img-fluid rounded-top w-100 {% if item.is_blurred %}blurred{% endif %} " alt="{{item.title}}"
                                                  style="height: 600px; object-fit: cover;">
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="col-md-6">
                                <span class="badge bg-dark f-14">{{item.post_type}}</span>
                                <span class="badge bg-dark f-14">{{claim_count}} Claim(s)</span>
                                <div class="item-details">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="my-3">Category</h5>
                                            <h6 class="mt-2 mb-3 f-w-500">{{item.category}}</h6>

                                            <h5 class="my-3">Posted By</h5>
                                            <a href="{% url 'profile_view' item.owner.user.username  %}"><h6 class="mt-2 mb-3 f-w-500">{{item.owner.user.first_name}} {{item.owner.user.last_name}}</h6></a>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="my-3">Date Posted</h5>
                                            <h6 class="mt-2 mb-3 f-w-500">{{item.date_reported|date:"d M Y"}}</h6>

                                            <h5 class="my-3">Location</h5>
                                            <h6 class="mt-2 mb-3 f-w-500">{{item.location}}</h6>
                                        </div>
                                    </div>
                                    
                                    <h5 class="my-3">Item Description</h5>
                                    <h6 class="mt-2 mb-3 f-w-500">
                                        {{item.description}}.
                                    </h6>
                                    {% if can_claim %}
                                    <div class="row mt-4">
                                        <div class="col-6 col-md-4">
                                            <div class="d-grid">
                                                {% if item.post_type == 'found' %}
                                                <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#claimModal">Claim Item</button>
                                                {% else %}
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reportFoundModal">Found Item</button>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4">
                                            <div class="d-grid">
                                                <button type="button" class="btn btn-outline-secondary">Contact
                                                    Finder</button>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                                                        <!-- Claim Modal -->
                                    <div class="modal fade" id="claimModal" tabindex="-1" aria-labelledby="claimModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <form method="POST" action="{% url 'claim_item' item.id %}">
                                        {% csrf_token %}
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="claimModalLabel">Claim Item</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            <p>Please answer the security questions to claim this item:</p>
                                            <div class="mb-3">
                                                <label for="security_answer_1" class="form-label">{{ item.question_one }}</label>
                                                <input type="text" class="form-control" name="security_answer_1" required>
                                            </div>

                                            {% if item.question_two %}
                                            <div class="mb-3">
                                                <label for="security_answer_2" class="form-label">{{ item.question_two }}</label>
                                                <input type="text" class="form-control" name="security_answer_2" required>
                                            </div>
                                            {% endif %}
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Submit Claim</button>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                    </div>

                                    {% if user_claim %}
                                       <div class="card mt-3 border-dark">
                                        <div class="card-header bg-dark text-white">
                                            <h5 class="mb-0">
                                                <a href="{% url 'item_detail' item.id %}" class="text-white text-decoration-none">
                                                    Your Claim Details
                                                </a>
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <p><strong >Claim Status:</strong> <span class="text-primary">{{ user_claim.status|capfirst }}</span></p>

                                            {% if user_claim.security_answer_one %}
                                            <p><strong>Security Question 1 Answer:</strong> {{ user_claim.security_answer_one }}</p>
                                            {% endif %}

                                            {% if user_claim.security_answer_two %}
                                            <p><strong>Security Question 2 Answer:</strong> {{ user_claim.security_answer_two }}</p>
                                            {% endif %}

                                            <small class="text-muted">Claim submitted on: {{ user_claim.created_at|date:"d M Y H:i" }}</small>
                                        </div>
                                    </div>

                                    {% endif %}
                                    {% if all_claims %}
                                    <br>
                                    <hr>
                                            <h5 class="mt-4">Claims for this item</h5>
                                            <table class="table table-striped mt-2">
                                                <thead>
                                                    <tr>
                                                        <th>Claimant</th>
                                                        <!-- <th>Security Answer(s)</th> -->
                                                        <th>Status</th>
                                                        <th>Date Submitted</th>
                                                        <th>Action</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for claim in all_claims %}
                                                        <tr>
                                                            <td>{{ claim.claimant.user.get_full_name }}</td>
                                                            <!-- <td>
                                                                {% if claim.security_answer_one %}Q1: {{ claim.security_answer_one }}<br>{% endif %}
                                                                {% if claim.security_answer_two %}Q2: {{ claim.security_answer_two }}{% endif %}
                                                            </td> -->
                                                            <td>{{ claim.status|capfirst }}</td>
                                                            <td>{{ claim.created_at|date:"d M Y H:i" }}</td>
                                                            <td>
                                                                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#claimModal{{ claim.id }}">
                                                                <i class="ti ti-eye"></i>
                                                            </td>
                                                        </tr>

                                                                <!-- Modal for claim details -->
                                                    <div class="modal fade" id="claimModal{{ claim.id }}" tabindex="-1" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Claim Details</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p><strong>Claimant:</strong> {{ claim.claimant.user.get_full_name }}</p>
                                                                    <p><strong>Status:</strong> {{ claim.status|capfirst }}</p>
                                                                    <p><strong>Date Submitted:</strong> {{ claim.created_at|date:"d M Y H:i" }}</p>

                                                                    {% if claim.security_answer_one %}
                                                                    <p><strong>Answer 1:</strong> {{ claim.security_answer_one }}</p>
                                                                    {% endif %}

                                                                    {% if claim.security_answer_two %}
                                                                    <p><strong>Answer 2:</strong> {{ claim.security_answer_two }}</p>
                                                                    {% endif %}
                                                                </div>
                                                                 <div class="modal-footer">
                                                                    <form method="post" action="{% url 'update_claim' claim.id %}">
                                                                    {% csrf_token %}
                                                                    <button type="submit" name="action" value="accept" class="btn btn-success">Accept</button>
                                                                    <button type="submit" name="action" value="reject" class="btn btn-danger">Reject</button>
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    </form>
                                                                </div>
                                                           
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}

                                                    

                                                </tbody>
                                            </table>
                                        {% endif %}

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if item.owner.user != request.user %}   
            <div class="card">
                <div class="card-header">
                    <h5>Related Items</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 col-xl-3">
                            <div class="card product-card">
                                <div class="card-img-top">
                                    <a href="item.html">
                                        <img src="{% static 'assets/images/findit/default_image.png' %}" alt="image"
                                            class="img-prod img-fluid" />
                                    </a>
                                </div>
                                <div class="card-body">
                                    <a href="#">
                                    </a>
                                    <div class="d-flex align-items-center justify-content-between mt-2">
                                        <h4 class="mb-0 text-truncate"><b>Pixel 6a</b></h4>
                                    </div>
                                    <p class="prod-content mb-0 text-muted">Shopright-EastPark Mall</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="card product-card">
                                <div class="card-img-top">
                                    <a href="item.html">
                                        <img src="{% static 'assets/images/findit/default_image.png' %}" alt="image"
                                            class="img-prod img-fluid" />
                                    </a>
                                </div>
                                <div class="card-body">
                                    <a href="#">
                                    </a>
                                    <div class="d-flex align-items-center justify-content-between mt-2">
                                        <h4 class="mb-0 text-truncate"><b>Pixel 6a</b></h4>
                                    </div>
                                    <p class="prod-content mb-0 text-muted">Shopright-EastPark Mall</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="card product-card">
                                <div class="card-img-top">
                                    <a href="item.html">
                                        <img src="{% static 'assets/images/findit/default_image.png' %}" alt="image"
                                            class="img-prod img-fluid" />
                                    </a>
                                </div>
                                <div class="card-body">
                                    <a href="#">
                                    </a>
                                    <div class="d-flex align-items-center justify-content-between mt-2">
                                        <h4 class="mb-0 text-truncate"><b>Pixel 6a</b></h4>
                                    </div>
                                    <p class="prod-content mb-0 text-muted">Shopright-EastPark Mall</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="card product-card">
                                <div class="card-img-top">
                                    <a href="item.html">
                                        <img src="{% static 'assets/images/findit/default_image.png' %}" alt="image"
                                            class="img-prod img-fluid" />
                                    </a>
                                </div>
                                <div class="card-body">
                                    <a href="#">
                                    </a>
                                    <div class="d-flex align-items-center justify-content-between mt-2">
                                        <h4 class="mb-0 text-truncate"><b>Pixel 6a</b></h4>
                                    </div>
                                    <p class="prod-content mb-0 text-muted">Shopright-EastPark Mall</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            {% endif %}
        </div>

    </div>
</section>
{% endblock content %}