{% extends "base.html" %}
{% load static %}

{% block title %}FindIt{% endblock title %}

{% block body_class %}{% endblock %}
{% block content %}

<div class="auth-main">
  <div class="auth-wrapper v2">
    <div class="auth-sidecontent">
      <img
        src="{% static 'assets/images/authentication/img-auth-sideimg.jpg' %}"
        alt="images"
        class="img-fluid img-auth-side">
    </div>

    <div class="auth-form">
      <div class="card my-5">
        <div class="card-body">
          <div class="text-center">
            {% if messages %}
            {% for message in messages %}
            <div
              class="alert alert-{{ message.tags }} alert-dismissible fade show"
              role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}

            {% if errors %}
            {% for error in errors %}
            <div class="alert alert-danger alert-dismissible fade show"
              role="alert">
              {{ error }}
              <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}

            <h3>FindIt</h3>

          </div>

          <h4 class="text-center f-w-500 mb-3">Login with your email</h4>

          <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
              <input type="text" class="form-control" id="floatingInput"
                placeholder="Email Address or Username" name="username">
            </div>
            <div class="form-group mb-3">
              <input type="password" class="form-control" id="floatingInput1"
                placeholder="Password" name="password">
            </div>
            <div class="d-flex mt-1 justify-content-between align-items-center">

              <h6 class="text-secondary f-w-400 mb-0">Forgot Password?</h6>
            </div>
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
          <div class="d-flex justify-content-between align-items-end mt-4">
            <h6 class="f-w-500 mb-0">Don't have an Account?</h6>
            <a href="{% url 'register' %}" class="link-primary">Create
              Account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}